body {
	font-family: 'Lato', sans-serif;
	color: #333;

}

img {
	width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li {
  clear:both;
  list-style:none;
}

h3 {
	 border-bottom: 2px solid #333;
	 padding: 20px 0;
} 


button.delete {
	background-color: #14968e;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #444;
	border-color: #f9f9f9;
	letter-spacing: 2px;
	font-size: 0.4rem;
	padding: 0.5rem;
}

