.btn {
	background-color: rgba(0,0,0, 0.1);
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #444;
	border-radius: 20px;
	border-color: #f9f9f9;
	letter-spacing: 2px;
	font-size: 0.4rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: all .2s;


	&--submit{
		background-color: $primaryColor;
		border-radius: 0;
		padding: 0.7rem;

		

	}

	&:hover{
		background-color: #fff;
		color: #000;
		border-color: $primaryColor;
    	text-shadow: 1px 1px 1px rgba(0,0,0,.2);

	}

	@mixin Phone {
		font-size: 0.8rem;
	}

	@mixin Tablet {
		font-size: 1rem;
	}

	@mixin Desktop {
		font-size: 1.2rem;
	}
}